/*<meta />*/

/*<meta sourceDocument="C:\Users\DELL\Desktop\Analysis of Persuasive Techniques by Online and Phone Scammers.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h1.Heading1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 0pt;
	mc-heading-level: 1;
	font-family: 'Calibri Light';
	color: #2E74B5;
	font-size: 16pt;
	font-weight: normal;
}

h2.Heading2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 2pt;
	margin-bottom: 0pt;
	mc-heading-level: 2;
	font-family: 'Calibri Light';
	color: #2E74B5;
	font-size: 13pt;
	font-weight: normal;
}

p.p_1
{
	margin-bottom: 0pt;
}

span.span_1
{
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 12pt;
}

span.span_2
{
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_2
{
	margin-bottom: 0pt;
	text-align: justify;
}

span.span_3
{
	font-family: 'Times New Roman';
	font-style: italic;
	font-size: 12pt;
}

p.p_3
{
	margin-bottom: 0pt;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

img.img_1
{
	visibility: visible;
	width: 576px;
	height: 336px;
}

p.p_4
{
	margin-bottom: 0pt;
	text-indent: 36pt;
	text-align: justify;
}

p.p_5
{
	margin-bottom: 0pt;
	margin-left: 0pt;
	text-indent: 36pt;
	text-align: justify;
}

p.p_6
{
	margin-bottom: 0pt;
	margin-left: 0pt;
	text-indent: 36pt;
	text-align: justify;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

p.p_7
{
	margin-bottom: 0pt;
	text-indent: 36pt;
}

p.p_8
{
	font-family: 'Times New Roman';
	font-size: 12pt;
}

